#title{
    background-color: rgb(10, 17, 19);
}

.title-image{
    height: 700px;
    width: 850px;
    
}
.web-name{
    display: inline;
    color:rgb(188, 143, 28);
    margin:200px 0px 0px 0px;
    font-family:sans-serif bold;
    position:absolute;
    margin-top:100px;
    font-size:4.5rem;
}
h3{
    display: inline;
    color:rgb(188, 143, 28);
    margin:200px 0px 0px 0px;
    font-family:sans-serif bold;
    line-height:2;
    position: absolute;
    margin-top:250px;
    font-family:sans-serif bold;
    font-size:2.5rem;
}
.android{
    position: absolute;
    margin-top:350px;
    margin-left:150px;
    margin-right: 300px;
}

.ios{
    position: absolute;
    margin-top:350px;
}

#scores{
    background-color:rgb(17, 31, 36);
    padding: 0px, 150px, 150px, 150px;
}

.score{
    text-align: center;
    font-size:3.5rem;
    margin-bottom:100px;
    font-family:sans-serif bold;
    color:rgb(188, 143, 28);
    padding-top:50px;

}

.news{
    text-align: center;
    font-size:3.5rem;
    margin-bottom:100px;
    font-family:sans-serif bold;
    color:rgb(188, 143, 28);
    padding-top:50px;
}

.card{
    margin: 10px;
}

#latest-news{
    background-color: rgb(52, 82, 88);
    color:rgb(207, 153, 15);
}
#footer{
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    background-color:rgb(255, 255, 255) ;
}
.icons{
    margin:15px;
}




